*.exe
*.o
*.out
2020/CMakeFiles/*

Hashcode2019/Hashcode2019.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Hashcode2019/Hashcode2019.xcodeproj/project.pbxproj

Hashcode2019/Hashcode2019.xcodeproj/xcuserdata/lois.xcuserdatad/xcschemes/Hashcode2019.xcscheme

Hashcode2019/Hashcode2019.xcodeproj/project.xcworkspace/xcuserdata/lois.xcuserdatad/UserInterfaceState.xcuserstate

Hashcode2019/Hashcode2019.xcodeproj/xcuserdata/lois.xcuserdatad/xcschemes/xcschememanagement.plist

Hashcode2019/Hashcode2019/main.cpp

Hashcode2019/Hashcode2019.xcodeproj/xcuserdata/lois.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
2020/CMakeCache.txt
2020/cmake_install.cmake
2020/2020
2020/Makefile
